<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westlakestudent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.westlakestudent.app.PictureApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme" >
        <activity
            android:name="com.westlakestudent.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.westlakestudent.activity.ImageActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.westlakestudent.activity.GuideActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.westlakestudent.activity.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
    </application>

</manifest>